@color-general-font: #000;
@color-background: #fff;
@color-shadow: #000;
@color-border: #000;
@color-general-link: #000;
@color-general-link-active-hover: #ff0000;

@width-general:940px;
@width-main:900px;
@width-diaporama:920px;
@width-gutter:20px;

@height-footer:20px;
@height-page-padding-bottom:40px;

@fontsize-general:12px;