@import "platforms/@base.less";
@import "platforms/@mobile.less";
@import "platforms/@mobile2.less";
@import "platforms/@tablet.less";
@import "platforms/@tabletPortrait.less";
@import "platforms/@tabletLandscape.less";


@media screen  {
	.base();
}

@media screen  and (min-width: 600px) {
	.mobile();
}

@media screen  and (min-width: 650px) {
	.mobile2();
}

@media screen  and (min-width: 601px) and (min-width: 600px) {
	.tablet();
}

@media screen  and (min-width: 601px) and (min-width: 1024px) and (orientation:portrait) {
	.tabletPortrait();
}

@media screen  and (min-width: 601px) and (min-width: 1024px) and (orientation:landscape) {
	.tabletLandscape();
}

