/* Component main */
/* Component example */
/* Component anotherone */
/* Platform base */
/* Platform mobile */
/* Platform mobile2 */
/* Platform tablet */
/* Platform tabletPortrait */
/* Platform tabletLandscape */
@media screen {
  /* Component main on base */
  body {
    background-color: #000000;
  }
  /* Component example on base */
  /* Component anotherone on base */
}
@media screen and (min-width: 600px) {
  /* Component main on mobile */
  /* Component example on mobile */
  /* Component anotherone on mobile */
}
@media screen and (min-width: 650px) {
  /* Component main on mobile2 */
  /* Component example on mobile2 */
  /* Component anotherone on mobile2 */
}
@media screen and (min-width: 601px) and (min-width: 600px) {
  /* Component main on tablet */
  /* Component example on tablet */
  /* Component anotherone on tablet */
}
@media screen and (min-width: 601px) and (min-width: 1024px) and (orientation: portrait) {
  /* Component main on tabletPortrait */
  /* Component example on tabletPortrait */
  /* Component anotherone on tabletPortrait */
}
@media screen and (min-width: 601px) and (min-width: 1024px) and (orientation: landscape) {
  /* Component main on tabletLandscape */
  /* Component example on tabletLandscape */
  /* Component anotherone on tabletLandscape */
}
