.row {
	*zoom: 1;
	clear: both;
	position:relative;
	&:after, &:before {
		content: "";
		display: table;
	}
	&:after	{
		clear: both;
	}
}
.col {
    position: relative;
    float: left;
    min-height: 1px;

    &.rtl {
        float: right;
    }
}