@import "@helpers.less";
@import "@variables.less";

html, body {
    background-color: @color-background;
    width: 100%;
    height: 100%;
    color: @color-general-font;
    font-size: @fontsize-general;
    letter-spacing: 0.1em;
    position: relative;
}
h1, h2, h3, h4, h5, h6, p, li, ul, ol {
    font-weight: normal;
    margin: 0;
    padding: 0;
	font-size:inherit;
	list-style:none;
}
a {
	text-decoration:none;
	color:@color-general-link;
	&.active, &:hover {
		color:@color-general-link-active-hover;
	}
}
.active
{
	color:@color-general-link-active-hover;
}